body {
  font-family: 'Montserrat', sans-serif;
}
.Header {
  height: 10vh;
  background-image: url("https://previews.123rf.com/images/anujstriker/anujstriker1608/anujstriker160800009/61698315-abstract-dark-music-background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  font-weight: bolder;
  color: rgb(255, 233, 212);
}

.Navbar {
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:sticky; 
  top:0;
  background-color: rgb(173, 173, 173);
}
.NavButton {
  font-family: 'Montserrat', sans-serif;
  width: 15%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 0 solid black;
  font-size: large;
}

.NavButton:hover {
  transition-duration: 500ms;
  transform-style: flat;
  background-color: rgba(255, 255, 255, 0.356);
}

.Main {
  height: 90vh;
  background-image: url("https://image.freepik.com/free-vector/battle-red-sound-wave-frequency-blue-dark-background-abstract-illustration-about-music-audio_72857-95.jpg");
  background-size: cover;
}

.Search {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(100, 100, 100, 0.4);
}

.InfoCon {
  height: 90%;
  display: flex;
  flex-direction: row;
  background: rgba(129, 129, 129, 0.4);
}

.TopInfo {
  width: 50%;
}

.Info {
  width: 50%;
}

.Playlist {
  display: flex;
  justify-content: space-evenly;
  padding: 7px;
  margin: 7px;
}
.Playlist:hover {
  background-color: rgba(0, 119, 255, 0.534);
}

.song {
  margin: 7px;
  padding: 7px;
}
.song:hover {
  background-color: rgba(143, 16, 16, 0.534);
}
.artist {
  margin: 7px;
  padding: 7px;
}
.artist:hover {
  background-color: rgba(143, 16, 16, 0.534);
}
.album {
  margin: 7px;
  padding: 7px;
}
.album:hover {
  background-color: rgba(143, 16, 16, 0.534);
}
.playlist {
  margin: 7px;
  padding: 7px;
}
.playlist:hover {
  background-color: rgba(143, 16, 16, 0.534);
}

